body{
	background-color: #00BFFF;
}
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #263fe2, opacity:0.6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: rgb(239, 237, 237);
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
		      h1 {
  font-family: "Georgia", serif;
  font-size: 2.375em; 
  text-align: center;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 1.875em; 
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.875em;
}
