body
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #008080;
  color: white;
}


h2 {
  font-family: "Georgia", serif;
  font-size: 1.875em; 
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.875em;
}
